<div class="main">
    <h1>Webmaster Design Brief 2016</h1>
    <img src="../imgs/home-photo.jpg" alt="home drone photo">
    <p>The world we live in today is filled with technology, from the entire internet in your pocket to flying machines. Unmanned Aerial Vehicles, or drones, are growing in popularity. These devices are normally flown by an individual on the ground using a controller. The applications for this new technology are endless; from commercial to education to filming videos, there seems to be something in every field that a drone can be used for.</p>
</div>