@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir.otf)
}

@font-face {
    font-family: Slim Joe;
    src: url(../fonts/Slim-Joe.otf)
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    line-height: 1.8;
}

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #ecf0f1;
    color: #333;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-shadow: 0 0 10px 0 black;
    transition: all 0.4s ease;
}

.navitem {
    display: table-cell;
    margin: 0;
    font-size: 20px;
    padding: 35px 60px;
    font-family: Slim Joe;
    transition: .3s background;
    cursor: pointer;
    letter-spacing: 2px;
}

.nav-small .navitem {
    padding: 4px 60px;
}

.nav-small .nav-right {
    display: none;
}

.nav-big .navitem:hover {
    background-color: #3498db;
}

.nav-left {
    float: left;
    display: inline;
}

.nav-right {
    display: inline;
    float: right;
    font-size: 25px;
    padding: 25px;
}

.nav-icon {
    padding: 15px 20px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-google-plus {
    color: #DC4E41;
}

#title-sec {
    background-image: url("../imgs/stars.jpg");
    background-size: cover;
    width: 100%;
    max-height: calc(100% - 90px);
}

.txt {
    width: calc(100% - 50px);
    float: right;
}

#title {
    max-width: 70%;
    padding: 5% 15%;
}

.info {
    padding: 75px 100px;
    font-size: 17px;
    font-family: Open Sans;
    background-color: #ecf0f1;
    position: absolute;
}

.block {
    width: 20px;
    height: calc(100% - 150px);
    position: absolute;
    background-color: #2980b9;
}

.info span {
    font-size: 30px;
    font-family: Slim Joe;
}

.tsa {
    height: 100vh;
    color: #2980b9;
    font-family: Open Sans;
    margin-top: 323px;
    background-image: url("../imgs/students.jpg");
    background-size: cover;
    text-align: center;
}

.tsa p {
    font-size: 70px;
    padding-top: calc(50vh - 70px);
    padding-left: 15vw;
    padding-right: 15vw;
}

.footer {
    color: #ecf0f1;
    text-align: center;
    background-color: #2980b9;
    padding: 40px 20vw;
    font-family: Slim Joe;
    font-size: 70px;
}